input[type=submit] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	font-family: 'Niramit', sans-serif;
}

input[type=submit] {
      background-color: #e7e7e7;
    color: black;
		
}

input[type=submit]:hover {
  background-color: #607B7D;
  color: white;
  
  }