
iframe{
	margin: 0 auto;
	display: block;
}


#fixedRefresh{
	  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
  z-index: 999;
}

 #playlist{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }
 
 